@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
}
.wrapper {
  *zoom: 1;
  max-width: 100vh;
  font-family: 'Slabo 27px', serif;
  color: #0092ff;
  margin: auto;
}
.wrapper:before{
  content: '';
  display: table;
}
.wrapper:after{
  content: '';
  display: table;
  clear: both;
}
.header {
  width: 100%;
  height: 200px;
  position: relative;
}
.header > *{
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}
#svglogo {
  width: 400px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  #svglogo {
    width: 80%;
  }
}
.main {
  max-width: 100vh;
  padding: 10%;
  text-align: center;
}
.textContainer {
  height: 175px;
}
@media only screen and (min-width: 900px) {
  .textContainer {
    height: 250px;
  }
}
.quoteTextBox {
  font-size: calc(1rem + 1 * ((100vw - 26.25rem) / 53.75));
}
@media screen and (min-width: 1280px){
  .quoteTextBox{
    font-size: 2rem;
  }
}
@media screen and (max-width: 420px){
  .quoteTextBox{
    font-size: 1rem;
  }
}
.quoteAuthorBox {
  padding-top: 2rem;
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
}
@media screen and (min-width: 1280px){
  .quoteAuthorBox{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px){
  .quoteAuthorBox{
    font-size: 1rem;
  }
}
#quoteText,
#quoteAuthor {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#newQuoteButton {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  outline: none;
  border: 3px solid #0092ff;
  background-color: #fff;
  color: #0092ff;
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
}
@media screen and (min-width: 1280px){
  #newQuoteButton{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px){
  #newQuoteButton{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  #newQuoteButton {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}
#newQuoteButton:hover {
  cursor: pointer;
}
.buttonColChange {
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.twitterButton {
  margin-top: 5rem;
}
.twitter-share-button {
  color: #0092ff;
}
.twitter-share-button:hover {
  color: #ff6d00;
}
@-webkit-keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes changeColor {
  0% {
    border: 3px solid #0092ff;
    color: #0092ff;
  }
  50% {
    border: 3px solid #ff6d00;
    color: #ff6d00;
  }
  100% {
    border: 3px solid #0092ff;
    color: #0092ff;
  }
}
@keyframes changeColor {
  0% {
    border: 3px solid #0092ff;
    color: #0092ff;
  }
  50% {
    border: 3px solid #ff6d00;
    color: #ff6d00;
  }
  100% {
    border: 3px solid #0092ff;
    color: #0092ff;
  }
}
