@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

headerCol = white
mainCol = white
textCol = #0092ff
buttonCol = white
buttonText = #0092ff
orangeCol = #FF6D00

*
  padding 0
  margin 0

body
  background-color: mainCol

.wrapper
  lost-utility clearfix
  max-width: 100vh
  font-family: 'Slabo 27px', serif;
  color textCol
  margin auto

.header
  width: 100%
  height 200px
  lost-align center

#svglogo
  width 400px
  height auto
  +below(600px)
    width: 80%

.main
  max-width: 100vh
  padding 10%
  text-align: center;

.textContainer
  height: 175px
  +above(900px)
    height 250px

.quoteTextBox
  font-size: responsive 1rem 2rem

.quoteAuthorBox
  padding-top 2rem
  font-size: responsive 1rem 1.5rem

#quoteText, #quoteAuthor
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

@keyframes fader {
    0% {opacity: 0}
    50% {opacity: 0.5}
    100% {opacity: 1}
}

#newQuoteButton
  width: 90px
  height 90px
  border-radius: 45px
  outline none
  border 3px solid buttonText
  background-color buttonCol
  color: buttonText
  font-size responsive 1rem 1.5rem
  +below(600px)
    width 60px
    height 60px
    border-radius: 30px

#newQuoteButton:hover
  cursor pointer

.buttonColChange
  animation-name: changeColor
  animation-duration: 2s
  animation-iteration-count: 1
  animation-timing-function: linear;

.twitterButton
  margin-top 5rem

.twitter-share-button
  color: buttonText

.twitter-share-button:hover
  color: orangeCol

@keyframes changeColor {
  0% {border 3px solid buttonText; color: buttonText}
  50% {border 3px solid orangeCol; color: orangeCol}
  100% {border 3px solid buttonText; color: buttonText}
}
